[Unit]
Description=Roots of The Valley Backend API Server
After=postgresql.service
Requires=postgresql.service

[Service]
Type=simple
WorkingDirectory=/app
Environment=NODE_PATH=/usr/local/lib/node_modules
Environment=PORT=8080
Environment=STATIC_PATH=/app/public
Environment=PGHOST=localhost
Environment=PGPORT=5432
Environment=PGDATABASE=rotv
Environment=PGUSER=postgres
Environment=PGPASSWORD=rotv
EnvironmentFile=-/etc/rotv/environment

ExecStart=/usr/bin/node /app/server.js
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
